ClassProject/FCTDataModel/bin/
ClassProject/FCTDataModel/obj/
ClassProject/ClassProject/obj/
ClassProject/FCTDataTests/bin/Debug/FCTDataModel.pdb
ClassProject/FCTDataTests/bin/Debug/FCTDataTests.dll
ClassProject/FCTDataTests/bin/Debug/FCTDataTests.pdb
ClassProject/FCTDataTests/obj/Debug/FCTDataTests.csprojResolveAssemblyReference.cache
ClassProject/FCTDataTests/obj/Debug/FCTDataTests.dll
ClassProject/FCTDataTests/obj/Debug/FCTDataTests.pdb
