ClassProject/ClassProject/obj/
ClassProject/FCTDataModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClassProject/FCTDataModel/bin/Debug/EntityFramework.dll
ClassProject/FCTDataModel/bin/
ClassProject/FCTDataModel/obj/
