@model ClassProject.Models.vmCourseSearch
@section Scripts{
    @Scripts.Render("~/bundles/NinJa")
    @if(false){
        <script type="text/javascript" src="Scripts/NinJa/Ninja" ></script>
        <script type="text/javascript" src="Scripts/NinJa/NinjaAjax.js"></script>
        <script type="text/javascript" src="Scripts/NinJa/NinjaAjax-vsdoc.js.js" ></script>
        <script type="text/javascript" src="Scripts/NinJa/NinjaGridView.js" ></script>
        <script type="text/javascript" src="Scripts/NinJa/NinjaUI.js" ></script>
        <script type="text/javascript" src="Scripts/NinJa/NinjaQuery.js" ></script>
    }
    <script type="text/javascript">
        WebServiceRequest.GenerateServiceReference("Course");

    </script>
    }
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Find Courses</legend>

    </fieldset>
}

<table class="gridview" id="courses" width="99%">
    <tr>
        <th></th>
        @*<th>Number</th>*@
        <th data="Title">Title</th>
        <th data="Credits">Credits</th>
        @*<th>Department</th>*@
    </tr>
</table>
