.veryhigh {
  color: #ff0000;
}
.high {
  color: #ff8500;
}
.medium {
  color: #38c900;
}
.normal {
  color: #003dff;
}
input {
  background: #ffffff f;
  color: #333333;
  border-radius: 5px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  /*width: 100%;*/

}
body {
  background: #666666;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #666666 0%, #434341 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #666666), color-stop(100%, #434341));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #666666 0%, #434341 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #666666 0%, #434341 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #666666 0%, #434341 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #666666 0%, #434341 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#434341', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  font-size: 12pt;
  font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  color: #696969;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url(Images/FountianHeadLogo.png), url(Images/bookTraceLogo.png);
  background-position: top left, top center;
  background-repeat: no-repeat;
  padding: 0px;
  height: 80px;
  white-space: nowrap;
}
header h1 {
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
  color: #034af3;
  border: none;
  line-height: 2em;
  font-size: 32px !important;
}
#page {
  /*width: 100%;*/

  min-height: 100%;
}
#main {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  clear: both;
  background: #cccccc;
  /* Old browsers */

  background: -moz-linear-gradient(top, #cccccc 37%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(37%, #cccccc), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #cccccc 37%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #cccccc 37%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #cccccc 37%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #cccccc 37%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

  padding: 40px 32px 50px 32px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 600px;
  border-bottom: 1px solid black;
  -moz-box-shadow: 5px 5px 10px #000000;
  -webkit-box-shadow: 5px 5px 10px #000000;
  box-shadow: 5px 5px 10px #000000;
}
footer {
  height: 20px;
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
}
a:link {
  color: #034af3;
  text-decoration: underline;
}
a:visited {
  color: #505abc;
}
a:hover {
  color: #1d60ff;
  text-decoration: none;
}
a:active {
  color: #12eb87;
}
p,
ul {
  margin-bottom: 20px;
  line-height: 25px;
  padding-left: 20px;
}
header,
footer,
nav,
section {
  display: block;
}
.column {
  width: 49%;
  vertical-align: top;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  color: #333333;
}
h1 {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}
h2 {
  padding: 0 0 10px 0;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5,
h6 {
  font-size: 1em;
}
nav,
#menucontainer {
  margin-top: 40px;
  clear: both;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
ul#menu {
  padding: 0 0 2px;
  position: relative;
  margin: 0 0 -3.5px;
  text-align: right;
  z-index: 1;
}
ul#menu li {
  display: inline;
  list-style: none;
  -moz-box-shadow: 5px 5px 10px #000000;
  -webkit-box-shadow: 5px 5px 10px #000000;
  box-shadow: 5px 5px 10px #000000;
}
ul#menu li#greeting {
  padding: 10px 10px;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8em;
  color: #fff;
}
ul#menu li a {
  padding: 10px 10px;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8em;
  background: #8fdbf8;
  /* Old browsers */

  background: -moz-linear-gradient(top, #8fdbf8 0%, #53cbf1 62%, #00afef 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fdbf8), color-stop(62%, #53cbf1), color-stop(100%, #00afef));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #8fdbf8 0%, #53cbf1 62%, #00afef 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #8fdbf8 0%, #53cbf1 62%, #00afef 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #8fdbf8 0%, #53cbf1 62%, #00afef 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #8fdbf8 0%, #53cbf1 62%, #00afef 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fdbf8', endColorstr='#00afef', GradientType=0);
  /* IE6-9 */

  color: #333333;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
ul#menu li a:hover {
  background: #c8ecfb;
  /* Old browsers */

  background: -moz-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #c8ecfb), color-stop(100%, #6cd0f6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #c8ecfb 20%, #6cd0f6 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8ecfb', endColorstr='#6cd0f6', GradientType=0);
  /* IE6-9 */

  text-decoration: none;
}
ul#menu li a:active,
ul#menu li a:visited {
  background: #c8ecfb;
  /* Old browsers */

  background: -moz-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #c8ecfb), color-stop(100%, #6cd0f6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #c8ecfb 20%, #6cd0f6 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8ecfb', endColorstr='#6cd0f6', GradientType=0);
  /* IE6-9 */

  text-decoration: none;
}
ul#menu li.selected a {
  background: #c8ecfb;
  /* Old browsers */

  background: -moz-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #c8ecfb), color-stop(100%, #6cd0f6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #c8ecfb 20%, #6cd0f6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #c8ecfb 20%, #6cd0f6 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8ecfb', endColorstr='#6cd0f6', GradientType=0);
  /* IE6-9 */

  color: #333333;
}
#detailsColumn1 {
  width: 45%;
}
#detailsColumn2 {
  width: 54%;
}
fieldset {
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  -moz-box-shadow: 5px 5px 10px #000000;
  -webkit-box-shadow: 5px 5px 10px #000000;
  box-shadow: 5px 5px 10px #000000;
}
legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
}
textarea {
  min-height: 75px;
  color: #333333;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 1.2em;
  color: #333333;
  width: 200px;
}
select {
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 1.2em;
  color: #333333;
}
input[type="submit"] {
  font-size: 1.2em;
  margin-top: 5px;
  padding: 10px;
}
.selectedrow {
  background-color: #EEEEEE;
}
.clear {
  clear: both;
}
.error {
  color: Red;
}
div#title {
  display: block;
  float: left;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px;
}
#logindisplay {
  font-size: 1.1em;
  display: inline-block;
  text-align: right;
<<<<<<< HEAD
  margin: 28px;
  color: #034af3;
=======
  margin: 10px;
  color: #ffffff;
>>>>>>> master
  float: right;
}
#logindisplay a:link {
  color: #ffffff;
  text-decoration: underline;
}
#logindisplay #logindisplay a:visited {
  color: white;
  text-decoration: underline;
}
#logindisplay #logindisplay a:hover {
  color: white;
  text-decoration: none;
}
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  color: #ff0000;
}
.validation-summary-valid {
  display: none;
}
.display-label,
.editor-label {
  margin: 5px;
}
.display-field {
  height: 40px;
}
.text-box {
  width: 30em;
}
.text-box .multi-line {
  height: 6.5em;
}
.tri-state {
  width: 6em;
}
.gridviewcontainer {
  border: 1px solid #000000;
  margin: 10px;
  -moz-box-shadow: 5px 5px 10px #000000;
  -webkit-box-shadow: 5px 5px 10px #000000;
  box-shadow: 5px 5px 10px #000000;
}
.gridview {
  font-size: 10pt;
  margin: 0px;
  width: auto;
  border: 0px;
  outline: 0px;
}
.gridview th {
  cursor: pointer;
  text-align: left;
}
.gridview th:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63c1ec), to(#1996d0));
  background-image: -moz-linear-gradient(top, #63c1ec, #1996d0);
  background-image: -o-linear-gradient(top, #63c1ec, #1996d0);
  background-image: -ms-linear-gradient(top, #63c1ec, #1996d0);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')", #63c1ec, #1996d0);
}
.gridview th.sorted {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1996d0), to(#35aee7));
  background-image: -moz-linear-gradient(top, #1996d0, #35aee7);
  background-image: -o-linear-gradient(top, #1996d0, #35aee7);
  background-image: -ms-linear-gradient(top, #1996d0, #35aee7);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')", #1996d0, #35aee7);
}
.gridview th span {
  font-size: 9pt;
}
.gridview tbody tr td:nth-child(even) {
  background-color: #edf1f6;
}
.gridview tbody tr:nth-child(even) {
  background-color: #FFFFCC;
}
.gridview tbody tr:nth-child(even) td:nth-child(even) {
  background-color: #edf1dd;
}
.gridview .selected td {
  background-color: #e8b11e !important;
}
.vscrollbar {
  background-image: url(/Content/Images/backgrounds/scrollbar/trackbg.png);
  background-repeat: repeat-y;
}
.vscrollbar .decrease.thumb {
  background-image: url('/Content/Images/backgrounds/scrollbar/decrease.png');
}
.vscrollbar .decrease.thumb:hover {
  background-image: url('/Content/Images/backgrounds/scrollbar/decrease2.png');
}
.vscrollbar .increase.thumb {
  background-image: url('/Content/Images/backgrounds/scrollbar/increase.png');
}
.vscrollbar .increase.thumb:hover {
  background-image: url('/Content/Images/backgrounds/scrollbar/increase2.png');
}
.vscrollbar .track.thumb {
  background-image: url('/Content/Images/backgrounds/scrollbar/track.png');
}
.vscrollbar .track.thumb:hover {
  background-image: url('/Content/Images/backgrounds/scrollbar/track2.png');
}
.vscrollbar .track.thumb.focus {
  background-image: url('/Content/Images/backgrounds/scrollbar/track2.png');
}
table {
  outline: 1px solid #000000;
  border-collapse: collapse;
  width: 100%;
  margin: 8px;
}
table td {
  border-top: 1px solid #e0e0e0;
  padding: 4px;
}
tbody > tr:nth-child(even) {
  background-color: #f0f0f0;
}
table th {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#35aee7), to(#1996d0));
  background-image: -moz-linear-gradient(top, #35aee7, #1996d0);
  background-image: -ms-linear-gradient(top, #35aee7, #1996d0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#35aee7', EndColorStr='#1996d0');
  color: #ffffff !important;
  padding: 4px;
  font-weight: bold;
}
