@model ClassProject.Models.vmTextbookSearch
@section Scripts{
    
    <script type="text/javascript">
        var request = new AjaxRequest();
        request.Url = "Textbook/Index";
        request.Verb = Verb.Post;

        request.OnSuccess.Add(bind);
        request.OnError.Add(error);

        function getfields() {
            $GridView("courses").Loading("Loading...");
            request.Post();
        }

        function bind(e) {
            var list = e.ResponseObject;
            $GridView("courses").Bind(e.ResponseObject);
        }
        function error() {
            $GridView("courses").Loading("An error occurred during the search.");
        }


        @*Page.OnLoad.Add(function () {
            $Button("vend").OnClick.Add(function () {
                Page.Href("@Url.Action("Create", "Vendor", "")");
            });
        }); *@      
    </script>
}
@{
    ViewBag.Title = "Textbooks";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add a Textbook", "Create")
</p>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Find Textbooks</legend>
        <div class="editor-label">
            Search By
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SearchText, new { @placeholder = "ISBN Number, Title, Author", style = "width:400px" })
        </div>
        <p style="text-align: center">
            <input id="search" type="button" onclick="getfields()" value="Search" />
        </p>
    </fieldset>
}
<table class="gridview" id="courses" width="99%">
    <thead>
        <tr>
            <th width="50" data="Textbook/Details/{ID}" display="Details" type="link"></th>
            <th width="50" data="Textbook/Edit/{ID}" display="Edit" type="link"></th>
            <th width="50" data="Textbook/Delete/{ID}" display="Delete" type="link"></th>
            <th data="ISBNNumber">ISBN</th>
            <th data="Name">Title</th>
            <th data="Price">Price</th>
            <th data="AuthorName">Author</th>
            <th data="Publisher">Publisher</th>
        </tr>
    </thead>
</table>
